<%- include('includes/header.ejs') %>
    <div class = "container">
        <h1>Sobre Mí</h1>
        <p>Hola, mi nombre es Andrés Magaña. Actualmente tengo 20 años.
           Actualmente estoy estudiando la carrera de Ingeniería en Tecnologías de la Computación, en el Tecnológico de Monterrey.
           Soy atleta de calistenia y street workout, he competido en 4 torneos, en uno quedé en el top 10 regional.
           Tengo una marca, Medvsa, que es una marca de ropa combinada con arte.</p>
        <h1>Déjame un mensaje.</h1>
        <input type="text">
    </div>
<%- include('includes/footer.ejs') %>
