<%- include('includes/header.ejs') %>
     <div class="container mt-5 pr-5">
            <div class="text-center fs-2 fw-bold mb-4">
                Login
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
        <!--        <span><i class="bi bi-person"></i></span>-->
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                <!--        <span><i class="bi bi-person"></i></span>-->
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-success" type="button">Login</button>
            </div>
            <br>
            <h1>Prueba</h1>
            <div>
                <h4 style="text-decoration-color: dimgray">Don't have an account?</h4>
                <a href="/signup" style="text-decoration: none">Click Here</a>
            </div>
        </div>
<%- include('includes/footer.ejs') %>