<%- include('includes/header.ejs') %>
    <div class="container">
        <h1>Ingresa un nuevo Proyecto a la librería</h1>
        <br>
        <form action="" method="POST">
            <h3>Nombre del Proyecto</h3>
            <br>
            <input type="text" name="nombre">
            <br>
            <br>
            <h3>Descripción del Proyecto</h3>
            <br>
            <input type="text" name="descripcion">
            <br>
            <br>
            <h3>URL de Imagen</h3>
            <br>
            <input type="text" name="imagen">
            <br>
            <br>
            <button class="btn btn-primary btn-dark" type="submit">Ingresar</button>
            <br>
        </form>
    </div>
<%- include('includes/footer.ejs') %>